* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #17233c;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    background: #111c33;
    color: white;
    padding: 25px 18px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #cbd3e5;
    padding: 14px;
    border-radius: 10px;
    display: block;
}

.sidebar a:hover,
.sidebar .active {
    background: #315bb5;
    color: white;
}

.logout {
    position: absolute;
    bottom: 30px;
    left: 18px;
    right: 18px;
}

/* MAIN */
.main {
    margin-left: 240px;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #e8ecf2;
}

.navbar input {
    width: 380px;
    padding: 13px 18px;
    border: none;
    background: #f1f4f9;
    border-radius: 25px;
    outline: none;
}

.profile {
    font-weight: bold;
}

/* CONTENT */
.content {
    padding: 30px;
}

.content h1 {
    margin-bottom: 8px;
}

.subtitle {
    color: #7c879b;
    margin-bottom: 25px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 22px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}
.card:hover {
    background: rgb(198, 192, 192)
}


.card span {
    font-size: 28px;
}

.card p {
    color: #7c879b;
    margin: 12px 0 5px;
}

.card h2 {
    font-size: 27px;
    margin-bottom: 8px;
}

.card small {
    color: #16a66a;
}

/* BOTTOM */
.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 25px;
}

.overview,
.activity {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.overview h2,
.activity h2 {
    margin-bottom: 25px;
}

/* CHART */
.chart {
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-bottom: 2px solid #ddd;
}

.bar {
    width: 35px;
    background: #3168dc;
    border-radius: 8px 8px 0 0;
}

/* ACTIVITY */
.activity-item {
    padding: 16px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    gap: 10px;
}

.activity-item span {
    flex: 1;
}

.activity-item small {
    color: #8993a5;
}

/* RESPONSIVE */
@media (max-width: 1000px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .bottom {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {

    .sidebar {
        width: 70px;
        padding: 20px 10px;
    }

    .sidebar h2 {
        font-size: 0;
    }

    .sidebar h2::after {
        content: "☰";
        font-size: 25px;
    }

    .sidebar a {
        font-size: 0;
        text-align: center;
    }

    .sidebar a::first-letter {
        font-size: 20px;
    }

    .main {
        margin-left: 70px;
        width: calc(100% - 70px);
    }

    .navbar {
        padding: 0 15px;
    }

    .navbar input {
        width: 55%;
    }

    .content {
        padding: 20px 15px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}
